/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */

* {
  box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

#instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#theGame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin:0;
}

#moreInstructions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  margin: 1% 0;
}
#containerContainer {
  height: 80%;
  width: 100%;
  display: flex;

}
.container {
  width: 20%;
  height: 100%;
  border: 1px ridge rgb(206, 98, 98);
  display: flex;
  flex-direction: column-reverse;
}

.container:hover {
border: 2px ridge rgb(206, 98, 98);
}

#theFirst .card {
  left: 8%;
}

#theSecond .card {
  left: 28%;
}

#theThird .card {
  left: 48%;
}

#theFourth .card {
  left: 68%;
}

#theFifth .card {
  left: 88%;
}



.card {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  border-radius: 10%;
  width: 100px;
  height: 140px;
  margin: 0 auto;
  font-family: monospace;
  font-size: 150%;
  position: absolute;
  background-repeat: no-repeat;
  box-shadow: -5px 3px 5px 0px rgba(36, 36, 36, 0.062);
}

.front, .back {
  position: absolute;
  background-size: cover;
  border: 1px solid black;
  border-radius: 10%;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateY(0deg);
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  -o-transform: rotateY(0deg);
  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;
  -ms-transform: rotateY(0deg);
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flipBack{
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flipFront {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/



.hidden {
  display: none !important;
}